.viewlists{
    width: 100%;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    .autoComplete{
        width: auto;
        background-color: white;
        box-shadow: 0 0 3pt 0.3pt #D3D3D3;
        -webkit-box-shadow: 0 0 3pt 0.3pt #D3D3D3;
        -moz-box-shadow: 0 0 3pt 0.3pt #D3D3D3;
        -webkit-appearance: none;
        text-align: start;
        li{
            list-style: none;
            padding: 8px 12px;
            cursor: pointer;
            &:hover{
                background: #efefef;
            }
        }
    }
}