@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');
.App{
    width: 100%;
    font-family: 'IM Fell French Canon', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
    }
    footer{
        text-align: center;
        background-color: #F7F7F7;
        font-family: 'IM Fell French Canon', serif;
        margin-top: auto;
        padding: 30px;
        font-size: 20px;
    }
    .content{
        width: 100%;
    }
}