.home{
    width: 100%;
    .mainImage{
        // background-image: url("https://targetcareers.co.uk/sites/targetcareers.co.uk/files/public/styles/header_1500x550/public/field/image/engineering-personal-statements.jpg?itok=I8sIDavS");
        text-align: center;
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h1{
            color: black;
            font-size: 50px;
            @media (max-width:780px){
                font-size: 30px;
                margin: 0px 30px;
            }
        }
    }
    .options{
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto auto;
        // column-gap: 100px;
        margin: 30px 200px;
        @media (max-width:780px){
            grid-template-columns: auto ;
            margin: 30px 30px;
        }
        a{
            text-decoration: none !important;
            color: #000;
        }
        .item{
            cursor: pointer;
            padding: 20px;
            margin: 20px;
            // border: 2px solid black;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 5pt 1pt #D3D3D3;
            transition: all 0.05s ease-in-out;
            
            &:hover{
                box-shadow: 0 0 8pt 2pt #D3D3D3;
                transform: scale(1.08) perspective(1px)
            }
        }
        
    }
    

}