.home{
    width: 100%;
    height: fit-content;
    // padding-bottom: 2.5rem;    /* Footer height */

    .mainImage{
        text-align: center;
        width: 100%;
        position: absolute;
        z-index: -5;
        img{
            width: 100%;
            max-height: 100%;
            filter: blur(5px);
            -webkit-filter: blur(5px);
            background-size: 100%;
        }
    }
    .all{
        margin-top: 100px;
        width: 100%;
        position: relative;
        .content{
            // position: absolute;
            background-color: white;
            padding: 50px;
            display: flex;
            width: fit-content;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-radius: 20px 20px 0px 0px;
            margin-left: auto;
            margin-right: auto;
            h1{
                color: black;
                font-size: 50px;
                width: fit-content;
                @media (max-width:780px){
                    font-size: 30px;
                    // margin: 0px 30px;
                }
            }
        }
        .options{
            display: grid;
            background-color: white;
            justify-content: center;
            grid-template-columns: auto auto auto auto;
            // column-gap: 100px;
            padding: 150px 200px;
            @media (max-width:780px){
                grid-template-columns: auto ;
                padding: 30px 30px;
            }
            a{
                text-decoration: none !important;
                color: #000;
            }
            .item{
                cursor: pointer;
                padding: 20px;
                margin: 20px;
                // border: 2px solid black;
                height: 150px;
                border-radius: 10px;
                text-align: center;
                box-shadow: 0 0 5pt 1pt #D3D3D3;
                transition: all 0.05s ease-in-out;
    
                @media (max-width:1024px){
                    height: auto;
                }
                &:hover{
                    box-shadow: 0 0 8pt 2pt #D3D3D3;
                    transform: scale(1.08) perspective(1px)
                }
            }
        }
    }
    

}