.coursespage{
    display: flex;
    margin: 40px 40px;
    @media (max-width:780px){
        margin: 0 0px 0px 15px ;
    }
    .container{
        width: 70%;
        margin-right: 15px;
        @media (max-width:780px){
            width: 30%;
        }
        h1{
            margin-top: 15px;
            font-size: 25px;
            @media (max-width:780px){
                font-size: 15px;
            }
        }
        .courses{
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            .course{
                cursor: pointer;
                margin: 5px;
                padding: 10px;
                color: black;
                font-family: 'Roboto', sans-serif;
                border-radius: 20px;
                border: 2px solid black;

                &:hover{
                    background-color: black;
                    color: white;
                }
                @media (max-width:780px){
                    padding: 5px;
                    text-align: center;
                    font-size: 13px;
                }
            }
        }
        .filters{
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            .filterOption{
                cursor: pointer;
                margin: 5px;
                margin-bottom: 5px;
                padding: 7px;
                color: black;
                font-family: 'Roboto', sans-serif;
                border-radius: 10px;
                border: 2px solid black;

                &:hover{
                    background-color: black;
                    color: white;
                }

                @media (max-width:780px){
                    padding: 5px;
                    text-align: center;
                    font-size: 13px;
                }
            }

            .active{
                background-color: black;
                color: white;
            }
        }
    }

    .courseInfo{
        width: 30%;
        height: calc(100vh - 98px  - 63px );
        position: sticky;
        top: calc(0% + 10px);
        border-radius: 10px;
        padding: 10px;
        .courseDesc{
            margin: 15px 0px;
            font-size: 20px;
            @media (max-width:780px){
                font-size: 18px;
            }
        }
        .courseName{
            margin: 15px 0px;
            @media (max-width:780px){
                font-size: 25px;
            }
        }
        .courseCode{
            margin: 15px 0px;
        }

        .courseSemester{
            display: flex;
            flex-direction: row;
        }
        
        .course{
            cursor: pointer;
            margin: 5px;
            padding: 10px;
            color: black;
            font-family: 'Roboto', sans-serif;
            border-radius: 20px;
            border: 2px solid black;
            width: fit-content;
            &:hover{
                background-color: black;
                color: white;
            }
            @media (max-width:780px){
                padding: 5px;
                text-align: center;
                font-size: 13px;
            }
        }
        box-shadow: 0 0 5pt 0.5pt #D3D3D3;
        -webkit-box-shadow: 0 0 5pt 0.5pt #D3D3D3;
        -moz-box-shadow: 0 0 5pt 0.5pt #D3D3D3;
        height: 100%;
        @media (max-width:780px){
            margin: 20px 0;
            width: 70%;
            border-right: 0px;
            border-radius: 10px 0px 00px 10px;
        }

    }

}