.coursespage{
    display: flex;
    margin: 0 40px;
    .container{
        width: 70%;
        .courses{
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start; /* NEW */
            // height: calc(100vh - 98px - 19px);
            .course{
                cursor: pointer;
                margin: 5px;
                padding: 10px;
                color: black;
                font-family: 'Roboto', sans-serif;
                border-radius: 20px;
                border: 2px solid black;

                &:hover{
                    // border: 2px solid red;
                    background-color: black;
                    color: white;
                }
            }
        }
    }

    .courseInfo{
        width: 30%;
        height: calc(100vh - 98px  - 63px );
        // background-color: blue;
        position: sticky;
        top: calc(0% + 10px);
        margin: 10px 0px;
        right: 0%;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 10px;
    }

}