header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    @media (max-width:780px){
        padding: 0px 5%;
    }
    box-shadow: 0 0 10pt 1pt #D3D3D3;
    -webkit-box-shadow: 0 0 10pt 1pt #D3D3D3;
    -moz-box-shadow: 0 0 10pt 1pt #D3D3D3;
    -webkit-appearance: none;
    img{
        width: 100px;
    }
}

.logo{
    cursor: pointer;
    @media (max-width:780px){
        font-size: 20px;
    }
}

.searchInput {
    margin-top: 5px;
    width: 100%;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    -webkit-box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    -moz-box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    -webkit-appearance: none;
    position: relative;
    border-radius: 5px;

    input{
        padding: 10px 10px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border-style: none;
        background: white;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0 0 3pt 0.3pt #D3D3D3;
        -webkit-box-shadow: 0 0 3pt 0.3pt #D3D3D3;
        -moz-box-shadow: 0 0 3pt 0.3pt #D3D3D3;
        -webkit-appearance: none;
        z-index: 20;
    }
    .autoComplete{
        overflow-y: auto;
        z-index: 2;
        width: 100%;
        background-color: white;
        position: absolute;
        box-shadow: 0 0 3pt 0.3pt #D3D3D3;
        -webkit-box-shadow: 0 0 3pt 0.3pt #D3D3D3;
        -moz-box-shadow: 0 0 3pt 0.3pt #D3D3D3;
        -webkit-appearance: none;
        text-align: start;
        li{
            list-style: none;
            padding: 8px 12px;
            cursor: pointer;

            &:hover{
                background: #efefef;
            }
        }
    }
}

nav{
    @media (max-width:780px){
        visibility:hidden;
        width: 0;
    }
    
}

.nav_links{
    list-style: none;
    @media (max-width:780px){
        visibility:hidden;
        width: 0;
    }
    li{
        display: inline-block;
        @media (max-width:780px){
            width: 0;
        }
        a{
            text-decoration: none !important;
            color: #000;
            font-size: 20px;
            margin: 10px;
        }
    }
    .myaccount{
        a{
            color: white;
            background-color: gray;
            border-radius: 10px;
            padding: 5px;
        }
    }
}

.menuBtn{
    margin-left: 10px;
    padding: 5px;
    @media (min-width:780px){
        visibility:hidden;
        width: 0;
    }
    span{
        width: 20px;
        display: block;
        background: #000;
        height: 2px;
        transition: all 300ms ease-in-out;
        transform-origin: 3px 1px;
        &:not(:last-child){
            margin-bottom: 3px;
        }
    }
    
    &.open{
        > span:first-child{
            transform: rotate(45deg);
        }
        > span:nth-child(2){
            opacity: 0;
        }
        > span:last-child{
            transform: rotate(-45deg);
        }
    }

}
.miniMenu{
    position: absolute;
    top: 80px;
    background-color: white;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    box-shadow: 0 0 10pt 1pt #D3D3D3;
    -webkit-box-shadow: 0 0 10pt 1pt #D3D3D3;
    -moz-box-shadow: 0 0 10pt 1pt #D3D3D3;
    -webkit-appearance: none;
    border-radius: 0px 0px 20px 20px;
    // width: 0;
    transition: all 200ms ease-in-out;
    transform: translateX(100%);
    .miniMenuNav{
        margin-top: 5px;
        list-style: none;
        padding: 0;
        @media (min-width:780px){
            visibility:hidden;
            height: 0;
        }
        ul{
            border-radius: 20px;
        }
        li{
            @media (min-width:780px){
                height: 0;
            }
            margin-bottom: 10px;
            a{
                text-decoration: none !important;
                color: #000;
                font-size: 15px;
            }
        }
    }
    @keyframes open {
        from{
          opacity: 0;
          transform: translateX(50px);
        }
        to{
          opacity: 1;
          transform: translateX(0px);
        }
    }
    &.open{
        transform: translateX(0);
    }
}