header{
    // background-color: #243E8B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    border-bottom: 1px solid black;
}

.logo{
    cursor: pointer;
}

#searchInput{
    padding: 10px 5px;
    width: 500px;
    outline: none;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 5px;
    background: rgb(218, 216, 216);
    font-family: 'Roboto', sans-serif;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
    }
}

.nav_links{
    list-style: none;
    li{
        display: inline-block;
        a{
            text-decoration: none !important;
            color: #000;
            font-size: 20px;
            margin: 10px;
            font-family: 'Roboto', sans-serif;
        }
    }
}